<div class="container">
    <mat-form-field>
        <mat-label>CÓDIGO SOLICITUD RRHH</mat-label>
        <mat-select [formControl]="codigo_solicitud_rh" multiple>
            <mat-select-trigger>
                {{codigo_solicitud_rh.value?.[0] || ''}}
                @if ((codigo_solicitud_rh.value?.length || 0) > 1) {
                <span class="example-additional-selection">
                    (+{{(codigo_solicitud_rh.value?.length || 0) - 1}} {{codigo_solicitud_rh.value?.length === 2 ?
                    'other' : 'others'}})
                </span>
                }
            </mat-select-trigger>
            @for (topping of codigosList; track topping) {
            <mat-option [value]="topping">{{topping}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

</div>